<!--
    软件工程大作业 前端框架
    第一版
    主界面
    包兰清 4.24
-->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>网上买药系统-组2-软件工程大作业</title>
  <link rel="stylesheet" href="{% static 'css/mdui.min.css'%}"/>
<script src="{% static 'js/mdui.min.js'%}"></script>
<script src="{% static 'js/blqlib.js'%}"></script>
</head>
<style>
  a{text-decoration:none;} 
</style>

<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-appbar-with-tab-larger mdui-text-color-teal-300 " style="padding-top: 100px;">
<!--所有边栏-->
  <!--工具左边栏-->            
  <div class="mdui-drawer mdui-text-color-black-text" id="drawer2" style='width:calc(100% - 56px);max-width:250px; '>
      <ul class="mdui-list" mdui-collapse="{accordion: true}">
        
              <!--登陆可见-->
              {% if request.user.is_authenticated %}
              <li class="mdui-list-item ">
                <div class="mdui-list-item-content">你好！{{request.user}}</div>
                </li>
                <a class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">perm_device_information</i> 
                    <div class="mdui-list-item-content">个人信息</div>
                  </a>
                <a class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">star</i>
                <div class="mdui-list-item-content">收藏夹</div>
                </a>
                <a class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">send</i>
                <div class="mdui-list-item-content">订单一览</div>
                </a>
                
           <li id='toggle' class="mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon material-icons">local_hospital</i>
             <div class="mdui-list-item-content">购物车</div>
             </li>
               {% else %}
               <a href='/sign' class="mdui-list-item mdui-ripple">
                  <div class="mdui-list-item-content">你好！点击这里登陆/注册</div>
               </a>
               <a href="/category"  class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">book</i>
              <div class="mdui-list-item-content">疾病分类</div>
              </a>
              <a href='/bestselling' class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">book</i>
              <div class="mdui-list-item-content">药品热销</div>
              </a>
              <li id='leftsearch'class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">local_hospital</i>
               <div class="mdui-list-item-content">搜索</div>
              </li>
             <a href='/' class="mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon material-icons">local_hospital</i>
             <div class="mdui-list-item-content">复杂搜索</div>
           </a>
           <li id='toggle' class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">local_hospital</i>
           <div class="mdui-list-item-content">购物车</div>
           </li>
            {% endif %}
            
              <!--登陆可见-->
            {% if request.user.is_authenticated %}
          <li class="mdui-collapse-item mdui-collapse-item-close">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
              <div class="mdui-list-item-content">功能索引</div>
              <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a href="/category"  class="mdui-list-item mdui-ripple">
                  <i class="mdui-list-item-icon mdui-icon material-icons">book</i>
                <div class="mdui-list-item-content">疾病分类</div>
                </a>
                <a href='/bestselling' class="mdui-list-item mdui-ripple">
                  <i class="mdui-list-item-icon mdui-icon material-icons">book</i>
                <div class="mdui-list-item-content">药品热销</div>
                </a>
                <li id='leftsearch'class="mdui-list-item mdui-ripple">
                  <i class="mdui-list-item-icon mdui-icon material-icons">local_hospital</i>
                 <div class="mdui-list-item-content">搜索</div>
                </li>
               <a href='/comsearch' class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">local_hospital</i>
               <div class="mdui-list-item-content">复杂搜索</div>
             </a>
             <li id='toggle' class="mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon material-icons">local_hospital</i>
             <div class="mdui-list-item-content">购物车</div>
             </li>
                
            </ul>
          </li>
              <a href='/logout' class="mdui-list-item mdui-ripple">
                   <i class="mdui-list-item-icon mdui-icon material-icons">live_help</i>
                  <div class="mdui-list-item-content">登出</div>
                </a>
                {% else%}
                <a href='/sign 'class="mdui-list-item mdui-ripple">
                  <i class="mdui-list-item-icon mdui-icon material-icons">error</i>
                  <div class="mdui-list-item-content">管理员或卖家？</div>
                  </a>
                {% endif %}

        </ul>   
  </div>
<!--购物车边栏-->            
  <div class="mdui-drawer mdui-drawer-right mdui-drawer-close"  style='width:calc(100% - 56px);max-width:350px; ' id="drawer">
            <ul class="mdui-list" id='cart'>
            {% for i in request.session.cart.items %}
            <br>
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="{% static "img/attachment/" %}{{i.yptp}}"/></div>
                <div class="mdui-list-item-content">{{i.ypmc}}  x {{i.quantity}}</div>
                <div class="mdui-list-item-icon"> {{i.price}}
                  <span>
                      <i class="mdui-icon material-icons" onclick="deletecart({{i.mid}},{{i.pid}});" >delete_forever</i>
                        </span><br>{{i.pname}}</div>
              </li>
            {% endfor %}
            <li class='mdui-list-item mdui-ripple'>合计：{{request.session.cart.total_price}}</li>
                        </ul>
            <a href='/cart' class="mdui-btn  mdui-color-teal-300 mdui-text-color-white-text"  />查看购物车</a>
            
  </div>
<!--搜索边栏-->            
<div class="mdui-drawer mdui-drawer-right mdui-drawer-close" style='width:calc(100% - 56px);max-width:350px; 'id="drawer3">
    <div class='biubiubiu'style='padding:10%'>
      <div class='mdui-row'>
          <div class='mdui-col-xs-9 mdui-col-sm-9'>
          <div class="mdui-textfield mdui-textfield-floating-label">
           
                  <label class="mdui-textfield-label">键入疾病/药品关键词</label>
                  <input class="mdui-textfield-input" id="txt1" type="text" onkeyup="showHint(this.value)" />
          
                </div>
          </div>
      </div>
      <div class='mdui-row'>
         <div class='mdui-float-right'>
            <a href="javascript:void(0);" > <i onclick="search()" class="mdui-icon material-icons">search</i></a>
          </div>
      </div>
      <p class='mdui-typo-caption'>为你推荐... <br><br><span id="txtHint"></span></p>
  
    </div>  
    </div>
  <!--边栏结束--> 
<!--边栏结束-->     
 <!--顶端工具栏-->
  <div class="mdui-appbar mdui-appbar-fixed ">
        <div class="mdui-toolbar mdui-color-teal-300 mdui-text-color-white-text">
          <a id="toggle2" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
          <a href="/" class="mdui-typo-title ">网上买药系统</a>
          <div class="mdui-toolbar-spacer"></div>
          <a href="javascript:;"id='toggle3'mdui-tooltip="{content: '搜索'}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
          {% if request.user.is_authenticated %}
          <a href="/logout" mdui-tooltip="{content: '登出'}"class="mdui-btn mdui-btn-icon">
            {% else %}
            <a href="/sign" mdui-tooltip="{content: '登陆/注册'}"class="mdui-btn mdui-btn-icon">
            {% endif%}
          <i class="mdui-icon material-icons">account_box</i></a>
          <a href="javascript:;" id='toggle4'mdui-tooltip="{content: '购物车'}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">add_shopping_cart</i></a>
        </div>
        <div class="mdui-tab mdui-color-teal-300 mdui-text-color-white-text" mdui-tab>
          <a href="/"  class="mdui-ripple mdui-ripple-white">
            返回主页
          </a>
          <a href="#tab2"  class="mdui-tab-active mdui-ripple mdui-ripple-white">
            {{custitle}}
          </a>
          <div class="mdui-toolbar-spacer"></div>
        </div>
  </div>
 <!--所有工具结束-->
 
<!--主容器-->
<div class=" mdui-container" style="padding-top: 40px;padding-right: 100px;">
    <div id="tab2">
        <br><br>
          <div class="mdui-row">
        <div class="mdui-typo-title">{{info.ypmc}} </nobr></div>
        <div class="mdui-typo"><hr/></div>
        </div>
          <div class="mdui-row">
                          <div class="mdui-col-xs-4 "> 
                              <li class="mdui-list-item" >
                                  <div class="mdui-card">
                                      <div class="mdui-card-media">
                                          <img src="{% static "img/attachment/" %}{{info.yptp}}"/><br>
                                      </div>
                                    </div>
                              </li>  
                              <br>
                              <div class="mdui-row ">
                                <div class="mdui-col-xs-6 ">
                                  <label class="mdui-textfield-label">价格</label>
                                  <li class="mdui-list-item "> {{info.jgqj}}</li>
                                    </div>
                            <div class="mdui-col-xs-6 ">
                                <label class="mdui-textfield-label">品牌名称</label>
                            <li class="mdui-list-item "> {{info.ppmc}}</li>
                            </div>
                            </div>
                            
                              <div class="mdui-typo"><hr/></div>
                              <div class="mdui-row ">
                                  <div class="mdui-col-xs-6 ">
                                      <label class="mdui-textfield-label">一级疾病</label>
                                      <li class="mdui-list-item "> {{info.c1_name}}</li>
                                      </div>
                              <div class="mdui-col-xs-6 ">
                                  <label class="mdui-textfield-label">二级疾病</label>
                              <li class="mdui-list-item "> {{info.c2_name}}</li>
                              </div>
                              </div>
                              
                                  
                            </div>
                          <div class="mdui-col-xs-5 ">
                              <ul class="mdui-list">
                                  <label class="mdui-textfield-label">功能主治</label>
                                  <li class="mdui-list-item mdui-typo mdui-typo-body-1-opacity"> {{info.gnzz}}</li>
                                  
                                  <div class="mdui-divider"></div>
                                      <label class="mdui-textfield-label">主要成分</label>
                                      <li class="mdui-list-item mdui-typo mdui-typo-body-1-opacity"> {{info.zycf}}</li>

                                  <div class="mdui-divider"></div>

                                  <div class="mdui-row ">
                                      <div class="mdui-col-xs-4 ">
                                      <label class="mdui-textfield-label">是否OTC</label>
                                      <li class="mdui-list-item mdui-typo mdui-typo-body-1-opacity "> {{info.is_otc}}</li></div>
                                      <div class="mdui-col-xs-4 ">
                                     <label class="mdui-textfield-label">有效期限</label>
                                     <li class="mdui-list-item mdui-typo mdui-typo-body-1-opacity"> {{info.yxq}}</li></div>
                                     <div class="mdui-col-xs-4 ">
                                      <label class="mdui-textfield-label">剂型</label>
                                      <li class="mdui-list-item mdui-typo mdui-typo-body-1-opacity"> {{info.jx}}</li></div>
                                 </div>

                                 <div class="mdui-divider"></div>
                                      <label class="mdui-textfield-label">用法用量</label>
                                      <li class="mdui-list-item mdui-typo mdui-typo-body-1-opacity"> {{info.yfyl}}</li>

                                <div class="mdui-divider"></div>
                                      <label class="mdui-textfield-label">注意事项</label>
                                      <li class="mdui-list-item mdui-typo mdui-typo-body-1-opacity"> {{info.zysx}}</li>


                              </ul>

                          </div>

                          <div class="mdui-col-xs-3 ">
                              
                      <ul class="mdui-list">
                          <div class="mdui-panel" mdui-panel>

                              
                              <div class="mdui-panel-item">
                                <div class="mdui-panel-item-header">禁忌</div>
                                <div class="mdui-panel-item-body">
                                  <p class="mdui-typo mdui-typo-body-1-opacity mdui-text-color-teal-300  ">{{info.jj}}</p>
                                </div>
                              </div>
                              
                              <div class="mdui-panel-item">
                                  <div class="mdui-panel-item-header">药物相互作用</div>
                                  <div class="mdui-panel-item-body">
                                    <p class="mdui-typo mdui-typo-body-1-opacity mdui-text-color-teal-300  ">{{info.ywxhzy}}</p>
                                  </div>
                                </div>

                                <div class="mdui-panel-item">
                                  <div class="mdui-panel-item-header">不良反应</div>
                                  <div class="mdui-panel-item-body">
                                    <p class="mdui-typo mdui-typo-body-1-opacity mdui-text-color-teal-300  ">{{info.blfy}}</p>
                                  </div>
                                </div>
                          </div>
                          <div class="mdui-divider"></div>
                          <br>
                          <div class='mdui-typo-subheading'>其他药品推荐</div>
                          <br>
                          <ul class="mdui-list">
                              <a href=""> <li class="mdui-list-item mdui-ripple">
                                <div class="mdui-list-item-avatar"><img src="{% static "img/attachment/" %}{{info.yptp}}"/></div>
                                <div class="mdui-list-item-content">{{info.ypmc}} - {{info.c2_name}}</div>
                              </li></a>
                            </ul>
                          
                      </ul>
                          </div>
                          </div>
                          <div class="mdui-typo"><hr/></div>
                        
                          <div class='mdui-row'>
                          <!--库存表格-->
                          <br>
                          <div class="mdui-typo-title-opacity ">药店库存</div>
                          <br><br>
                         <div class="mdui-row" style='padding-left:20px;padding-right:50px;'>
                        <div class="mdui-table-fluid mdui-col-xs-11 ">
                          <table class="mdui-table">
                            <tbody>
                                {% for i in stock %}
                              <tr>
                                  <td><a class="mdui-typo mdui-text-color-teal-300" href="{% url 'pharlisting' i.idpharmacy %}"> {{i.pname}}</a></td>
                                <td>{{i.district}}</td>
                                <td>{{i.quantity}}</td>
                                <td>
                                <!--购物车按钮-->
                                 <button class="mdui-btn  mdui-color-teal-300 mdui-text-color-white-text" 
                                 id="cartf5" type="text" onclick="cart({{info.id}},{{i.idpharmacy}});inst3.close(); inst.open();"/>添加购物车</button>
                              </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                        <!--库存表格-->
                    </div>
                   
                  <br><br><br>
                  
                  <div class='mdui-row'>

                    Made By BLQ 2018
                    </div>
            </div>
        </div>
</div>
<!--主容器-->
    
      
    
</body>
</html>

<!--drawer 拖动函数 购物车3 搜索1-->
<script>
var inst = new mdui.Drawer('#drawer');
var inst2 = new mdui.Drawer('#drawer2');
var inst3 = new mdui.Drawer('#drawer3');
document.getElementById('toggle4').addEventListener('click', function () {
  inst3.close(); inst.toggle();
});
document.getElementById('toggle').addEventListener('click', function () {
  inst3.close();inst.toggle();
});  
document.getElementById('cartf5').addEventListener('click', function () {
  inst3.close(); inst.open();
  });  
document.getElementById('toggle2').addEventListener('click', function () {
  inst2.toggle();
});
document.getElementById('leftsearch').addEventListener('click', function () {
  inst.close();inst3.toggle();
});
document.getElementById('toggle3').addEventListener('click', function () {
  inst.close();inst3.toggle();
});
</script>
<!--drawer 拖动函数-->
